@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'Montserrat', 'Sarina';
}
.heros {
  display: grid;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.cards {
  display: flex;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-direction: column;
  padding-left: var(--padding-card, 1rem);
  padding-top: var(--padding-card, 1rem);
  padding-right: var(--padding-card, 1rem);
  gap: 4px;
}
.cards :where(p) {
  flex-grow: 1;
}
.card.image-full > .cards {
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
}
.card.compact .cards {
  padding-left:8px;
  padding-right:8px;
  padding-top:8px;
  font-size: 0.875rem/* 14px */;
  line-height: 10px;
}
.card-compact .cards {
  padding-left:8px;
  padding-right:8px;
  padding-top:8px;
  font-size: 0.875rem/* 14px */;
  line-height: 10px;
}
.card-normal .cards {
  padding-left: var(--padding-card, 1rem);
  padding-top: var(--padding-card, 1rem);
  padding-right: var(--padding-card, 1rem);
  font-size: 8px;
  line-height: 12px;
}
.hero-contents {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80rem/* 1280px */;
  gap: 1rem/* 16px */;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  padding-bottom: 1rem/* 16px */;
}

