@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'Montserrat', sans-serif;
}
.heros {
  display: grid;
  width: 100%;
  background-size: cover;
  background-position: center;
}